@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

body {
    background-color: #0e1016;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title {
    color: #F4F3EA;
    text-align: center;
    font-family: 'Baloo Tamma 2', Helvetica,sans-serif;
    font-size: 4rem;
}

.title:hover {
    color: #CBD0D8;
    transition-duration: 0.5s;
}